<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css style/style.css">
</head>
<body>
     <nav class="navbar">
        <div class="logo"> My Brand </div>
        <ul class="nav-links">
            <li><a href="#">Beranda</a></li>
            <li><a href="#">Tentang</a></li>
            <li><a href="#">Layanan</a></li>
            <li><a href="#">Kontak</a></li>
        </ul>
        <button class="cta"> Mulai Gratis </button>
    </nav>
    
    <section class="hero">
        <div class="hero-content">
            <span class="badge">Web Developer</span>
            <h1>Buat Website Impianmu Hari Ini</h1>
            <p>Pelajari HTML, CSS & JavaScript Dari Dasar Hingga Mahir</p>
            <div class="btn-group">
                <a class="btn-primary" href="#">Mulai Belajar</a>
                <a class="btn-ghost" href="#">Lihat Kurikulum</a>
            </div>
        </div>
    </section>

    <div class="pricing">
        <div class="plan">
            <h3>Gratis</h3>
            <div class="price"><span class="amount">Rp 0</span></div>
            <ul>
                <li>✓ 5 Proyek</li>
                <li>✓ 1 GB Storage</li>
                <li>X Dukungan Prioritas</li>
            </ul>
            <button class="cta">Mulai Gratis</button>
        </div>
    </div>

    <div class="card">
        <img src="foto-abdullah.jpg" alt="Abdullah Mubarok Maspeke" class="avatar">
        
        <h2>Abdullah Mubarok Maspeke</h2>
        <p class="Role">Web Developer</p>
        
        <div class="stats">
            <div><strong>48</strong><span>Post</span></div>
            <div><strong>909.9k</strong><span>Followers</span></div>
            <div><strong>312</strong><span>Following</span></div>
        </div>
        
        <button class="btn">Follow</button>
    </div>
    
    <div class="layout">
        <article class="content">
            <h1>Panduana Flexbox Untuk Pemula</h1>
            <p class="meta">16 April 2026 . 8 Menit Baca</p>
            <p>Flexbox (singkatan dari Flexible Box Layout) adalah model tata letak (layout) satu dimensi di CSS yang dirancang untuk mempermudah pengaturan elemen dalam sebuah wadah (container), meskipun ukurannya tidak diketahui atau bersifat dinamis.</p>
            <h2>Mengapa Flexbox?</h2>
            <p>Sebelum Flexbox menjadi standar (sekitar tahun 2012 ke atas), para pengembang web harus menggunakan "trik" dan teknik yang sebenarnya bukan diciptakan untuk membuat tata letak yang kompleks.</p>
        </article>
        <aside class="sidebar">
            <div class="widget">
                <h4>Artikel Terkait</h4>
                <ul><li>CSS Grid</li><li>Media Queries</li></ul>
            </div>
        </aside>
    </div>
</body>
</html>